
.input1{
    width: 300px;
    height: 30px;
    border-radius: 12px;
    border: 1px solid #fbfdfc;
    color: black;
    text-indent: 30px;
    margin-bottom: ;
    text-align: center;
    flex-direction: row;
  background: url("../assets/yh_1.png") no-repeat;
  background-size: ;
    float: right;
    justify-content: space-between;
    border-radius: ;
  text-decoration: none;
  list-style: none;
  border: none;
    font-size: ;
  background-color: white;
  display: flex;
  justify-content: center;


}




